<td width="10%"><img class="img_small" src="{{ comment.author.picture_url }}"></td>
<td width="90%">
    <div class="comment_info">
        <a href="{{ url_for('user', username=comment.author.username) }}">{{ comment.author.username }}</a>:
        <div class="post_body" style="padding-bottom: 5px">
            <p>{{ comment.comment }}</p>
        </div>
        <div class="post_time" style="padding-left: 5px">
             {{ time(comment.timestamp) }}
            {% if comment.likes|length == 1 %}
                {% set likes = 'Like' %}
            {% else %}
            {% set likes = 'Likes' %}
                {% endif %}
            {% if comment.likes|length > 0 %}
                <button type="button"
                                   id="popover-test"
                                   class="btn btn-sm btn-link"
                                   data-toggle="popover"
                                   data-html="true"
                                   data-content="<table class='table table-striped' style='max-height:300px; overflow:auto'>
                                                    {% for user in comment.likes %}
                                                        <tr onclick='window.location='/user/{{ user.username }}''>
                                                        <td width='20%'><img class='img_small' src='{{ user.picture_url }}'></td>
                                                        <td width='80%' style='text-align: center'><a href='{{ url_for('user', username=user.username) }}'><h4>{{ user.username }}</h4></a></td>
                                                        </tr>
                                                    {% endfor %}
                                                </table>"
                                   data-placement="right">
                                {{comment.likes|length}} {{likes}}
                           </button>
                <script>$("[data-toggle=popover]").popover();</script>
                <script>
                    $('html').on('mouseup', function(e) {
                        if(!$(e.target).closest('.popover').length) {
                            $('.popover').each(function(){
                                $(this.previousSibling).popover('hide');
                            });
                        }
                    });
                </script>
            {% endif %}
            {% if comment.is_liked(current_user) %}
                <span style="margin-left: 15px"><a href="{{url_for('unlike', type='commit_comment', id=comment.id) }}"><img src="https://img.icons8.com/metro/26/000000/thumbs-down.png" class="img_tiny">Unlike</a></span>
            {% elif not comment.is_liked(current_user) %}
                <span style="margin-left: 15px"><a href="{{url_for('like', type='commit_comment', id=comment.id) }}"><img src="https://img.icons8.com/pastel-glyph/64/000000/facebook-like.png" class="img_tiny">Like</a></span>
            {% endif %}
            {% if comment.author.username == current_user.username %}
                <a style="color: red" class="close" href="/delete_post/commit_comment/{{ comment.id }}">&times;</a>
            {% endif %}
        </div>
    </div>
</td>