{% import 'bootstrap/wtf.html' as wtf %}

<form method="POST" action="{{ url_for('create_post', option='commit', id=0) }}">
    <table class="table table-borderless">
        <tr>
            <td style="padding-bottom: 0px">
                {{ wtf.form_field(commit_form.course, sytle='visibility: hidden') }}
                {{ wtf.form_field(commit_form.assignment, sytle='visibility: hidden') }}
                {{ wtf.form_field(commit_form.time_spent) }}
            </td>
        </tr>

        <tr>
            <td style="padding-top: 0px">{{ wtf.form_field(commit_form.post, style='resize:none; height:200px;overflow:auto') }}</td>
        </tr>
        <tr>
            <td style="padding-top: 0px">{{ wtf.form_field(commit_form.submit, class="btn btn-primary btn-block") }}</td>
        </tr>
    </table>

</form>

<script>
    let course_select = document.getElementById('course');
    let assignment_select = document.getElementById('assignment');

    course_select.onchange = function() {
        course = course_select.value;
        fetch('/set_assignment_choices/' + course).then(function (response) {
            var rjson = response.json();
            rjson.then(function(data) {
                let optionHTML = '';
                for (let assignment of data.assignments) {
                    optionHTML += '<option value="' + assignment.id +'">' + assignment.title + '</option>';
                }
                assignment_select.innerHTML = optionHTML;
            });
        });

    }
</script>