<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/styles.css') }}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<td><img class="img_small" src="{{ post.author.picture_url }}" ></td>
<td>
    <div class="post_info">
        <span class="post_class_info" id="post_class_info">
        <a href="{{ url_for('user', username=post.author.username) }}"> {{ post.author.username }} </a>
        -->
        {% if 'index' in request.path or 'user' in request.path %}
        <a href="{{ url_for('section', id=post.get_assignment_course()[1]) }}"> {{ post.get_assignment_course()[0] }} </a>
        -->
        <a href="{{ url_for('assignment', id=post.assignment_id) }}"> {{ post.get_assignment_title() }} </a>
         -->
        {% endif %}
        <a href="#" data-toggle="tooltip" title="{{ post.get_tooltip() }}" data-placement="bottom"><span class="time_spent" style="color: {{ colorify(post) }}"> {{ convert_time(post.time_spent) }} </span></a></span>

    </div>
    <div class="post_body">
        {{ post.body }}
    </div>
    <div class="post_time">
         {{ time(post.timestamp) }}
        {% if post.likes|length == 1 %}
            {% set likes = 'Like' %}
        {% else %}
            {% set likes = 'Likes' %}
        {% endif %}
        {% if post.comments.count() == 1 %}
            {% set comments = 'Comment' %}
        {% else %}
            {% set comments = 'Comments' %}
        {% endif %}

        {% if post.likes|length > 0 %}
            <button type="button"
                               id="popover-test"
                               class="btn btn-sm btn-link"
                               data-toggle="popover"
                               data-html="true"
                               data-content="<table class='table table-striped' style='max-height:300px; overflow:auto'>
                                                {% for user in post.likes %}
                                                    <tr onclick='window.location='/user/{{ user.username }}''>
                                                    <td width='20%'><img class='img_small' src='{{ user.picture_url }}'></td>
                                                    <td width='80%' style='text-align: center'><a href='{{ url_for('user', username=user.username) }}'><h4>{{ user.username }}</h4></a></td>
                                                    </tr>
                                                {% endfor %}
                                            </table>"
                               data-placement="right">
                            {{post.likes|length}} {{likes}}
                       </button>
            <script>$("[data-toggle=popover]").popover();</script>
            <script>
                $('html').on('mouseup', function(e) {
                    if(!$(e.target).closest('.popover').length) {
                        $('.popover').each(function(){
                            $(this.previousSibling).popover('hide');
                        });
                    }
                });
            </script>
        {% endif %}

        {% if post.is_liked(current_user) %}
            <span style="padding-left: 1px"><a href="{{url_for('unlike', type='commit', id=post.id) }}"><img src="https://img.icons8.com/metro/26/000000/thumbs-down.png" class="img_tiny">Unlike</a></span>
        {% else %}
            <span style="padding-left: 1px"><a href="{{url_for('like', type='commit', id=post.id) }}"><img src="https://img.icons8.com/pastel-glyph/64/000000/facebook-like.png" class="img_tiny">Like</a></span>
        {% endif %}
        <button type="button" class="btn btn-link btn-sm" data-toggle="modal" data-target='#commitModal-{{ post.id }}' style="margin-left: 25px">
            <img src="https://img.icons8.com/material-sharp/24/000000/speech-bubble-with-dots.png" class="img_tiny"> {{ post.comments.count() }} {{comments}} </span>
        </button>
        {% if post.author.username == current_user.username %}
            <a style="color: red" class="close" href="/delete_post/commit/{{ post.id }}">&times;</a>
        {% endif %}
        <div id="commitModal-{{ post.id }}" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Commit by {{ post.author.username }} for {{ post.get_assignment_course()[0] }}</h4>
                </div>
                <div class="modal-body" style="height: 500px">
                    <div class="commit">
                        {% include '_comment_modal.html' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
        <div id="commitLikesModal-{{ post.id }}" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Likes on {{ post.author.username }}'s Commit</h4>
                </div>
                <div class="modal-body" style="height: 500px">
                    <div class="commit">
                        <table class="table table-hover">
                            {% for user in post.likes %}
                                <tr onclick="window.location='/user/{{ user.username }}'">{% include 'user_likes_preview.html' %}</tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</td>


<script>
      url = window.location.pathname;
      var check = url.includes('index');
    if  (check) {
        console.log(url);
        var element = document.getElementById('post_class_info');
        console.log(element.style);
        element.style.display = 'block';
        }

function myFunction() {
  var popup = document.getElementById("myPopup");
  popup.classList.toggle("show");
}
</script>

<script>
$(document).ready(function(){
  $('[data-toggle="tooltip"]').tooltip();
});
</script>

