<td>
    <h5><a href="{{ url_for('section', id=assignment.section_id) }}"><h5>{{ assignment.course }}</a> --><a href="{{ url_for('assignment', id=assignment.id) }}"> {{ assignment.title }}</a></h5>
    <div class="assignment_due">
        DUE: {{ assignment.due }} -- <img src="https://static.thenounproject.com/png/1520826-200.png" style="height:17px;width:17px ">  {{ assignment.commits.count() }}
        <img src="https://img.icons8.com/ios/15/000000/comments.png"> {{ assignment.posts.count() }}
    </div>
</td>


