{% extends "base.html" %}

{% block app_content %}
    <h1>Hi, {{ current_user.username }}!</h1>
    <table class="table">
        <tr>
            <td style="width: 70%">
                {% include '_commit_form.html' %}
                <table class="table table-hover">
                    {% for post in posts %}
                        <tr style="width: 70%">
                            {% include '_commit.html' %}
                        </tr>
                    {% endfor %}
                </table>
                <div style="padding: 10px">
                    {% if prev_url %}
                        <a href="{{ prev_url }}" style="float: left"><--- Newer posts</a>
                    {% endif %}

                    {% if next_url %}
                        <a href="{{ next_url }}" style="float:right;">Older posts ---></a>
                    {% endif %}
                </div>
            </td>
            <td style="width: 30%; padding: 5px">
                {% include 'sidebar.html' %}
            </td>
        </tr>
    </table>

{% endblock %}

