{% import 'bootstrap/wtf.html' as wtf %}
{% extends "base.html" %}
{% block app_content %}
    <div style="text-align-all: center">
    <h1>Sign In</h1>
    <br>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        {{ wtf.form_field(form.username, style='width:30%') }}
        {{ wtf.form_field(form.password, style='width:30%') }}
        {{ wtf.form_field(form.remember_me) }}
        {{ wtf.form_field(form.submit) }}
    </form>
    <br>
    <p>New User? <a href="{{ url_for('register') }}">Click to Register!</a></p>
    </div>
{% endblock %}